/* # General
================================ */

nav {
    font-family: "Open Sans", Helvetica, sans-serif;
}

/* # Header, Main Menu
================================ */

.navbar {
    opacity: 0.8;
    margin-bottom: 0;
    background-color: #292929;
    transition: all 0.2s ease-out;
}

.navbar-container {
    position: relative;
}

.navbar .navbar-nav li a,
.navbar .navbar-nav li form {
    font-size: 14px;
    text-transform: uppercase;
    color: white;
    transition: all 0.2s ease-out;
}

.navbar-brand {
    font-size: 25px;
    transition: all 0.2s ease-out;
}

.navbar-scroll {
    opacity: 1;
}

#top-social-menu {
    display: none;
}


@media (min-width: 768px) {
    .navbar {
        height: 120px;
    }

    .navbar-nav>li>a,
    .navbar-nav>li>form {
        padding: 0;
        margin-top: 35px;
        margin-left: 50px;
        line-height: 70px;
    }

    .navbar-brand {
        font-size: 28px;
        padding: 0;
        height: 120px;
        line-height: 120px;
    }

    /* Navbar when scrolled */

    .navbar-scroll {
        height: 70px;
    }

    .navbar-scroll .navbar-brand {
        height: 70px;
        line-height: 70px;
    }

    .navbar-scroll .navbar-nav>li>a,
    .navbar-scroll .navbar-nav>li>form {
        opacity: 1;
        padding: 0;
        margin-top: 0;
    }
}

/* # Hover Link Effect
================================ */
@media (min-width: 768px) {
    .navbar-nav>li>a::after {
        position: absolute;
        top: 80%;
        left: 0;
        width: 100%;
        height: 1px;
        background: white;
        content: '';
        opacity: 0;
        transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s;
        transition: height 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    .navbar-nav>li>a:hover::after,
    .navbar-nav>li>a:focus::after {
        height: 2px;
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}



/* # Section Full Width Image
================================ */

.full-width-img {
    background: url('http://res.cloudinary.com/do5ht5y0y/image/upload/v1501322753/bg-cp-header_zps4ghnoxc7_zx2ayd.jpg') no-repeat center center;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    height: 450px;
    color: #fff;
}

.box {
    background: rgba(0, 0, 0, 0.4);
    border: 3px solid #000;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    padding: 10px 20px;
}

.subheading-text {
    list-style: none;
    font-size: 35px;
    line-height: 50px;
}

@media (min-width: 768px) {

    .full-width-img {
        padding-top: 110px;
        height: 1000px;
    }

    .subheading-text {
        font-size: 50px;
        line-height: 70px;
    }

    .box {
        margin-top: 100px;
        padding: 80px 20px;
    }
}

/* # Section Black, White
================================ */

.section-black,
.section-white {
    padding: 50px 0;
    color: #fff;
    line-height: 1.7;
}

.section-black h3,
.section-white h3 {
    margin-bottom: 60px;
}

.section-black p,
.section-white p {
    margin-bottom: 60px;
}

.section-black {
    background: linear-gradient(#363437, #121112);
}

.section-white {
    background: linear-gradient(#ffffff, #f3f3f3);
    color: #0e0d0e;
}